*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.crowdin-status.txt

app/src/main/res/values*/strings.xml
module/src/main/res/values*/strings.xml